h5py==3.14.0
imbalanced-learn==0.13.0
imblearn==0.0
joblib==1.5.1
numpy==1.26.4
optuna==4.4.0
pandas==2.3.0
pytorch_lightning==2.5.2
rdkit==2025.3.3
scikit_learn==1.3.2
setuptools==78.1.1
torch==2.7.1
torchmetrics==1.7.3
xgboost==3.0.2
gdown==5.2.0
